@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --orange:#d37e34;
    --gray:rgb(32, 31, 31);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; 
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:var(--orange);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--orange);
}

body{
    background:#ddded9;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:15px 20px;
    background:var(--orange);
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 8px;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:var(--gray);
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 5rem;
    padding:1rem;
    border-bottom: .2rem solid rgba(58, 55, 55, 0.267);
    color:var(--orange);
}

.heading span{
    color:var(--gray);
}

header{
    position: fixed;
    top:0; 
    left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:rgb(32, 31, 31);
    display: flex;
    flex-flow: column;
    text-align: center;
}

header .user{
    margin: 70px 0 0 0;
}

header .user .name{
    font-size: 28px;
}

header .user .fname{
    color: #e3924c;
    text-transform: uppercase;
}

header .user h3{
    font-size: 3.5rem;
    color:#fff;
    text-transform: uppercase;
}

header .user .post{
    font-size: 2rem;
    color:rgb(135, 128, 127);
}

header .navbar{
    width:100%;
    margin-top: 20px;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    /* background:#333; */
    color:#fff;
    font-size: 22px;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:#313030;
    color: var(--orange);
}
header .social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}
header .social-links a{
    /* color: var(--orange); */
    text-decoration: none;
    margin: 12px;
}
header .social-links .fa{
    padding: 8px 10px;
    border-radius: 50%;
    font-size: 25px;
    font-weight: bold;
}
header .social-links .fa-linkedin{
    color:#ffffff;
    background-color: #0077b5;
}
header .social-links .fa-github{
    color:#171515 ;
    background-color: #ffffff;
}
header .social-links .fa-instagram{
    color:rgb(238, 27, 171) ;
    background-color: #ffffff;
}
#menu{
    position: fixed;
    top:2rem; 
    right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 15rem;
}

.home img{
    height:22rem;
    width:22rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    /* border:4px solid #111; */
}

.home h3{
    font-size: 2.5rem;
    color:var(--gray);
}
.home .myname{
    color:var(--orange);
    text-transform: uppercase;
}
.home h1{
    font-size:5rem;
    color:var(--gray);
}

.home h1 span{
    color:var(--orange);
    text-transform: uppercase;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:rgb(238, 139, 8);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:var(--gray);
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--orange);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--gray);
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:var(--gray);
    padding-top: 1.5rem;
    font-weight: bold;
}

.education .box-container .box p{
    font-size: 1.5rem;
    color:var(--gray);
    padding: 1rem 0;
    font-weight: bold;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--gray);
    background:var(--orange);
}

* {box-sizing:border-box}

.skills .container {
  width: 60%;
  background-color: rgb(163, 160, 160); 
  margin: auto;
  border-radius: 20px;
}
.skills .skillcont{
    margin-top: 50px;
}
.skills h3{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}
.html,.css,.js,.android{
    text-align: center;
    font-weight: bolder;
    font-size: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: var(--gray);
    border-radius: 20px;
}

.html {width: 90%; background-color: var(--orange);} 
.css {width: 80%; background-color: var(--orange);} 
.js {width: 65%; background-color: var(--orange);} 
.android {width: 50%; background-color: var(--orange);}

.footer{
    background-color: #2e2c2c;
    padding: 18px;
}
.footer p{
    text-align: center;
    font-size: 18px;
    color: #bbb4b4;
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
}

.portfolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:var(--gray);
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
    color: #ffffff;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:var(--orange);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding:1rem 0;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:var(--orange);
}

.fa-arrow-up{
    position: fixed;
    bottom:.8rem; 
    right: 3rem;
    z-index: 100;
    font-size: 25px;
    color: #000000;
    background-color: var(--orange);
    border-radius: 50%;
    padding: 10px;
    display: none;
}

/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .home .info #myname{
        font-size: 20px;
    }

    .home .info h1{
        font-size: 25px;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

  

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }